$main-color: #eee;
$header-bg: linear-gradient(#ccd5dd 10%, #484848 90%);
$h1-color: #3a791b;
$h1-text-shadow: 0.04rem 0.15rem 0.25rem #234,
0 0 0 #000000,
0.04rem 0.15rem 0.25rem #000;
$h2-color: #3f831de0;
$nav-footer-bg: #484848;
$cmain-bg: #323232;
$cmain-border: 0.1rem solid black;
$graph-border: 1px solid black;
$graph-bg: #fff2e0;
$notegroup-bg: #124372;
$list-color: $main-color;
$note-bg: #124372;
$button-hover-bg: #366e19;
$habit-bg: #302;

hr {
    border-color: black;
}

@import 'base';
@import 'markdown.scss';
