$main-color: black;
$header-bg: linear-gradient(#ddf5ff 10%, #f8f8f8 90%);
$h1-color: #90e069e0;
$h1-text-shadow: 0.04rem 0.15rem 0.25rem #def,
0 0 0 #000000,
0.04rem 0.15rem 0.25rem #def;
$h2-color: #80d060;
$nav-footer-bg: #f8f8f8;
$cmain-bg: white;
$cmain-border: 0.1rem solid darkgrey;
$graph-border: 1px solid lightgray;
$graph-bg: #fcfcfc;
$notegroup-bg: #d0fffa;
$list-color: black;
$note-bg: royalblue;
$button-hover-bg: #c0f0a0;

@import 'base';