button {
    background-color: #309930;
    border-style: none;
    border-radius: 2px;
    padding: 0.25rem;
    color: white;
    font-size: 1rem;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.20), 0 13px 40px 0 rgba(0,0,0,0.16);
    transition: 0.3s;
}

button span {
    cursor: pointer;
    display: inline;
    position: relative;
    transition: 0.3s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.6rem;
    transition: 0.3s;
}

button:hover span {
    padding-right: 0.8rem;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

#stickynav > button {
    display: block;
    color: black;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem #00000033;
    margin: 0.3rem 0 0.3rem 0;
    padding-left: 1.6rem;
}

#stickynav > button:hover {
    background-color: skyblue;
    transition: 0.3s;
}

#stickynav > button > img {
    display: inline;
    position: absolute;
    left: 0;
    margin: -0.4rem 0 -0.6rem 0;
    height: 1.2rem;
    background: radial-gradient(circle, #f8f8f8 52%, transparent 58%);
    padding: 0.4rem;
}

@media screen and (max-width: 640px) {
    #stickynav > button {
        text-shadow: none;
        display: inline;
        width: 5rem;
        font-size: 0.9rem;
        margin: 0;
        padding-left: 0;
    }

    #stickynav > button > img {
        display: none;
    }
}