* {
    font-size: 2.5vw;
}

body {
    width: 95%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    border: 0.06rem solid darkblue;
    background-image: linear-gradient( to right, lightskyblue -10%, white 16%, white 84%, lightskyblue 110%);
}

header {
    grid-row: 1;
    grid-column: 1 / 4;
    margin-bottom: -0.3rem;
}

#banner {
    border: 0.15vw solid darkblue;
    width: calc(100% - 0.12rem);
    height: 100%;
}

h1 {
    font-size: 2.5rem;
    color: #22bb22dd;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    text-shadow: 0.04rem 0.15rem 0.25rem #def,
        0 0 0 #000000,
        0.04rem 0.15rem 0.25rem #def;
    text-align: center;
}

button {
    background-image: linear-gradient( -30deg, skyblue -33%, white 66%);
}

nav {
    grid-row: 2;
    grid-column: 1;
    border: darkblue solid 0.06rem;
}

nav > button {
    display: block;
    width: 90%;
    height: calc(2rem + 16px);
    min-width: calc(16px + 2.75rem);
    color: #00000099;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.08rem 0.08rem #00000033;
    margin: 0.2rem;
    margin-left: auto;
    margin-right: auto;
}

nav > button > img {
    height: calc(1.6rem + 16px);
    margin-bottom: -0.2rem;
}

#main {
    grid-row: 2;
    grid-column: 2 / 4;
    border: 0.06rem solid darkblue;
    padding: 0.4rem;
}

footer {
    grid-row: 3;
    grid-column: 1 / 4;
    border: darkblue solid 0.06rem;
    text-align: center;
}

@media screen and (max-width: 640px) {
    body {
        width: 100%;
        margin: 0;
    }

    nav {
        grid-row: 2;
        grid-column: 1 / 4;
        height: calc(16px + 2.75rem);
    }

    nav > button {
        text-shadow: none;
        display: inline;
        width: 15%;
        margin: 0.4rem;
        position: relative;
        top: calc(-10px - 0.8rem);
    }

    #icon {
        top: -1px;
    }

    #main {
        grid-row: 3;
        grid-column: 1 / 4;
    }

    footer {
        grid-row: 4;
        grid-column: 1 / 4;
    }
}

@media screen and (min-width: 1080px) {
    * {
        font-size: 27px;
    }
}