button {
    color: white;
    background-color: #44aa44;
    border-style: none;
    border-radius: 4px;
    padding: 0.33rem 0.5rem;
    font-size: 1rem;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.20), 0 13px 40px 0 rgba(0,0,0,0.16);
    transition: 0.3s;
}

button span {
    cursor: pointer;
    display: inline;
    position: relative;
    transition: 0.3s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.6rem;
    transition: 0.3s;
}

button:hover span {
    padding-right: 0.8rem;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

nav > button {
    display: block;
    width: 100%;
    border-radius: 0;
    color: black;
    background-color: transparent;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem #00000033;
    margin: 0.5rem 0 0.5rem 0;
}

nav > button:hover {
    background-color: #44aa44;
    transition: 0.3s;
}

nav > button > img {
    display: inline-block;
    margin: -0.4rem -0.3rem -0.6rem -0.4rem;
    height: 1.2rem;
    background: radial-gradient(circle, white 50%, transparent 60%);
    padding: 0.4rem;
}

@media screen and (max-width: 640px) {
    nav > button {
        text-shadow: none;
        display: inline;
        width: 6rem;
        margin: 0;
    }

    nav > button > img {
        display: none;
    }
}