[Unit]
Description=Scheduler service for RaspiWebControl sensors
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /var/nweb/scripts/Scheduler.py

[Install]
WantedBy=multi-user.target